@model WebApplication1.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>

        <dd>
            @Model.Name
        </dd>

        <dt>
            Giá tiền
        </dt>

        <dd>
            @Model.Price.ToString("N0");
        </dd>
            
        <dt>
            Hạn sử dụng
        </dt>

        <dd>
            @Model.Expire.Value.ToString("dd/MM/yyyy")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
